* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4e8d9 !important;
}

.container-fluid{
    width: 100%;
    max-width: 25rem;
    padding: 2rem 3rem;
    color: white;

    overflow: hidden;
    position: relative;
}

.wrapper{
    background-color: rgb(0,103,79);
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%;
}

section{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}


.login, .register{
    flex: 1;
}


.hidden{
    transform: translateX(-50%);
}

h1{
    font-size: 2rem;
    text-align: center;
}

form{
    margin: 2rem 0;
}

.inputbox{
    position: relative;
    margin: 1rem 0;
}

.inputbox input{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: #fff solid 2px;
    background-color: transparent;
    color: #fff;
    font-size: 1.5;  
    font-weight: 500;
}

.inputbox label{
    position: absolute;
    left: 1rem;
    top: 40%;
    left: 0;
    pointer-events: none;
}

.inputbox i{
    position: absolute;
    right: 5px;
    top: 20px;
}

input:focus ~ label, 
input:valid ~ label,
.inputbox input:not(:placeholder-shown) ~ label{
    top: -10px;
}


.forgot{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.forgot a{
    text-decoration: none;
    font-size: 1rem;
    margin-left: 4px;
    text-transform: lowercase;
    color: #fff;
    font-weight: 600;
}

.forgot a:hover{
    color: #fff;
    text-decoration: underline;
}

button{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 2rem;
    margin: 1.5rem 0;
}

.register-option{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.register-option a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-left: 4px;
}

.register-option a:hover{
    color: #fff;
    text-decoration: underline;
}

